

 <table style="font-weight: bold;font-size:18px">
      <tr> <td>Receipt Number</td> <td><%= @newreceipt.id %></td></tr>
      <tr> <td>Date</td> <td> <%= @newreceipt.created_at.strftime("%B %d, %Y")%> </td></tr>
      <tr> <td>Received From </td> <td> <%= @newreceipt.customer %> </td></tr>
      <tr> <td>Being</td> <td> <%= @newreceipt.product %> </td></tr>
      <tr> <td>Description </td> <td> <%= @newreceipt.description %> </td></tr>
      <tr> <td>Cheque Number</td> <td> <%= @newreceipt.cheque_number %> </td></tr>
      <tr> <td>Total Amount (VAT inclusive) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>GMD <%= @newreceipt.amount%> </td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        
      <tr> <td><font size ="1">VAT REG No. 28784</font></td> <td><font size ="1"> TIN No. 0710005629 </font></td></tr>
 
      
 </table>
 
 <br/> <br/> <br/>
 <table style="font-weight: bold;font-size:18px">
      <tr> <td>Receipt Number</td> <td><%= @newreceipt.id %></td></tr>
      <tr> <td>Date</td> <td> <%= @newreceipt.created_at.strftime("%B %d, %Y")%> </td></tr>
      <tr> <td>Received From </td> <td> <%= @newreceipt.customer %> </td></tr>
      <tr> <td>Being</td> <td> <%= @newreceipt.product %> </td></tr>
      <tr> <td>Description </td> <td> <%= @newreceipt.description %> </td></tr>
      <tr> <td>Cheque Number</td> <td> <%= @newreceipt.cheque_number %> </td></tr>
      <tr> <td>Total Amount (VAT inclusive) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>GMD <%= @newreceipt.amount%> </td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr> <td><font size ="1">VAT REG No. 28784</font></td> <td><font size ="1"> TIN No. 0710005629 </font></td></tr>
 
      
 </table>
 
 
  <br/> <br/> <br/> <br/> <br/>
 <table style="font-weight: bold;font-size:18px">
      <tr> <td>Receipt Number</td> <td><%= @newreceipt.id %></td></tr>
      <tr> <td>Date</td> <td> <%= @newreceipt.created_at.strftime("%B %d, %Y")%> </td></tr>
      <tr> <td>Received From </td> <td> <%= @newreceipt.customer %> </td></tr>
      <tr> <td>Being</td> <td> <%= @newreceipt.product %> </td></tr>
      <tr> <td>Description </td> <td> <%= @newreceipt.description %> </td></tr>
      <tr> <td>Cheque Number</td> <td> <%= @newreceipt.cheque_number %> </td></tr>
      <tr> <td>Total Amount (VAT inclusive) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>GMD <%= @newreceipt.amount%> </td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr> <td><font size ="1">VAT REG No. 28784</font></td> <td><font size ="1"> TIN No. 0710005629 </font></td></tr>
 
      
 </table>