
<div class="container">
    <section>				
        <div id="container_demo" >
           
           
            <div id="wrapper">
           

                <div id="login" class="animate form">
                    <%= form_tag do %>
                        <h1>Log in</h1> 
                         <font color="red"> <%= flash[:error] %></font></p>
                        <p> 
                            <%= label_tag :name, 'Username:' %>
							<%= text_field_tag :name, params[:name] %>
                        </p>
                        <p> 
                            <%= label_tag :password, 'Password:' %>
							<%= password_field_tag :password, params[:password] %>
                        </p>
                        <p class="login button"> 
                            <%= submit_tag "Login" %>
						</p>
						<p class="change_link">  
							<font color="#7E17E4" size "1.8"><b>Africell Gambia BSU Department.</b> </font><font color="#556E70" size="1.8">All rights reserved. © Copyright 2015</font> <br>
                            <font color="#556E70" size="1.8">Designed & Developed by <b>Mam M Cham</b></font>&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;
						</p>
					<% end %>
                </div>
            </div>
        </div>  
    </section>
</div>