<table border="1">
     <tr>
          <th>Full Name</th>
          <th>Username</th>     
          <th>MSISDN</th>
          <th>Transaction Type</th>
          <th>Action Performed</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      <% @result.each do |row| %>
        <tr>
          <td><%= row.full_name %></td>
          <td><%= row.username %></td>
          <td><%= row.msisdn %></td>
          <td><%= row.transaction_type %></td>
          <td><%= row.action_performed %></td>
          <td><%= row.description %></td>
          <td><%= row.created_at %></td>
      </tr>
<%end%>
</table>