<table border="1">
              <tr>
                <th>Date</th>
                <th>Customer Name</th>
                <th>MSISDN</th>
                <th>Nationality</th>
                <th>ID Type</th>
                <th>ID Number</th>
                <th>Sim Number</th>
                <th>Time In</th>
                <th>Agent Name</th>
              </tr>
            <% @result.each do |row| %>
              <tr>
                <td><%= row.created_at.to_date %></td>
                <td><%= row.first_name %> <%= row.last_name %></td>
                <td><%= row.msisdn %></td>
                <td><%= row.nationality %></td>
                <td><%= row.id_type %></td>
                <td><%= row.id_number %></td>
                <td><%= row.sim_no %></td>
                <td><%= row.created_at.to_s[11..18] %></td>
                <td><%= row.agent %></td>
              </tr>
            <%end%>
        </table> <td></td>