<div class="container">
<section>       
  <div id="container_demo" >
    <div id="wrapper">
      <div id="login" class="animate form">
      	<center>
			<form action="/banks/update_supplier" method="post" >
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
					<input type="hidden" name="id" value="<%=@supplier.id%>">	
					<label>Name</label>
					<input type="text" name="name" value="<%=@supplier.name%>">
					<label>Address</label>
					<input type="text" name="address" value="<%=@supplier.address%>">
					<label>Bank Name</label>
					<input type="text" name="bank_name" value="<%=SupplierBank.find_by_supplier_id(@supplier.id).bank_name%>">
					<label>Bank Address</label>
					<input type="text" name="bank_address" value="<%=SupplierBank.find_by_supplier_id(@supplier.id).bank_address%>">
					<label>Swift Code </label>
					<input type="text" name="swift_code" value="<%=SupplierBank.find_by_supplier_id(@supplier.id).swift_code%>">
					<input type="hidden" name="supplier_id" value="<%=SupplierBank.find_by_supplier_id(@supplier.id).supplier_id%>">
					<label>Account Number</label>
					<input type="text" name="account_number" value="<%=SupplierAccountNumber.find_by_supplier_id(@supplier.id).account_number%>">
					<input type="hidden" name="supplier_id" value="<%=SupplierAccountNumber.find_by_supplier_id(@supplier.id).supplier_id%>">
					<label>Account Type</label>
					<input type="text" name="account_type" value="<%=SupplierAccountNumber.find_by_supplier_id(@supplier.id).account_type%>">
					<input type="hidden" name="supplier_id" value="<%=SupplierAccountNumber.find_by_supplier_id(@supplier.id).supplier_id%>">
					<p class="login button"> 
                    <input type="submit" name="submit" id="submit" value="Save Changes" />
                    </p>
					</div>							
				</form>
				</center>
				<p></p><br><br>
				<p class="change_link">
			      <font color="#7E17E4"><b>Africell Gambia BSU Department.</b> </font><font color="#556E70" size="2">All rights reserved. © Copyright 2016</font> <br>
			      <font color="#556E70" size="2">Designed & Developed by <b>Mam M Cham</b></font>&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;
			    </p>
				</div>
			</div>
		</div>
	</section>
</div>