<div class="container">
  <section>       
    <div id="container_demo" >
      <div id="wrapper">
        <div id="login" class="animate form">
          
          <form  action="/hlr/create_subscriber" > 
            <h1>Create Subscriber</h1> 
            <center> <font color="red"> <%= flash[:invalid] %> </font><font color="green"> <%= flash[:done] %> </font> <br/> </center>
            <center>        
              
              <label for="command">Select Command:</label>
                <select name ="command">
                  <option value="CREATEAC">Create AC</option>
                  <option value="CREATESUB">Create Sub</option>
                </select>&#8195;

              <label for="msisdn">MSISDN: </label>
              <input id="msisdn" size="15" name="msisdn" required="required" onkeypress="return isNumberKey(event)" maxlength="10" type="text" placeholder="MSISDN"/>&#8195;

              <label for="msin">MSIN: </label>
              <input id="msin" size="20" name="msin" required="required" onkeypress="return isNumberKey(event)"  type="text" placeholder="MSIN"/>&#8195;

              <label for="a4ki">A4KI: </label>
              <input id="a4ki" size="30" name="a4ki" readonly required="required" type="text" value=<%=@a4ki%>  />&#8195;

            </center>
            <p class="login button"> 
              <input type="submit" value="Submit" /> 
            </p>
          </form><br>

          <center> 
          <h2>HLR Output: <%=@builtCommand%></h2>
              <font color="blue"><textarea readonly cols ="80" id="hlr_output" name="hlr_output" rows="27" wrap="virtual" style="color:#7E17E4; font-weight:900; font-style:sans-serif ;">&#13;&#10;<%=@result%></textarea></font>
          </center>
              <p></p>                      
              <p class="change_link">
                <font color="#7E17E4"><b>Africell Gambia BSU Department.</b> </font><font color="#556E70" size="2">All rights reserved. © Copyright 2015</font> <br>
              <font color="#556E70" size="2">Designed & Developed by <b>Mam M Cham</b></font>&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;
            </p>
          </div>
        </div>
      </div>  
    </section>
 </div>