
<div class="container">
<section>				
    <div id="container_demo" >

        <div id="wrapper">
            <div id="login" class="animate form">
            <%if(session[:userrole] == "admin" or session[:userrole] == "outlet" or session[:userrole] == "sales" or session[:username] == "atarawally" or session[:username] == "mtrinn")%>
             <%= link_to 'Add Sales', custcaresales_stock_out_select_path, :style=>'color:#510269; font-style:italic; font-weight:bold; font-size:15px;' %>
           | <%= link_to 'List Sales', custcaresales_list_transactions_path, :style=>'color:#510269; font-style:italic; font-weight:bold; font-size:15px;' %>
           | <%= link_to 'List Items', custcaresales_list_items_path, :style=>'color:#510269; font-style:italic; font-weight:bold; font-size:15px;' %>
           | <%= link_to 'Added Stock', custcaresales_stock_in_list_path, :style=>'color:#510269; font-style:italic; font-weight:bold; font-size:15px;' %>
           | <%= link_to 'Banked', custcaresales_list_banked_path, :style=>'color:#510269; font-style:italic; font-weight:bold; font-size:15px;' %>
           <%end%>
           <%if(session[:username] == "atarawally" or session[:username] == "mtrinn" or session[:userrole] == "sales")%>
           | <%= link_to 'Add Item', custcaresales_add_item_select_path, :style=>'color:#510269; font-style:italic; font-weight:bold; font-size:15px;' %>
           | <%= link_to 'Add Stock', custcaresales_add_stock_select_path, :style=>'color:#510269; font-style:italic; font-weight:bold; font-size:15px;' %>
           | <%= link_to 'Bank Money', custcaresales_bank_money_path, :style=>'color:#510269; font-style:italic; font-weight:bold; font-size:15px;' %>
           | <%= link_to 'Add Damaged', custcaresales_damaged_select_path, :style=>'color:#510269; font-style:italic; font-weight:bold; font-size:15px;' %>
           <%end%>
           <br><br>
              <center>
                    <h1>List Items</h1> 
                    <center>
                      <table>
                        <tr>
                          <th>Item Name</th>
                          <th>Item Price</th>
                          <th>Item Balance</th>
                          <th>Money value</th>
                          <th>Cash In Hand</th>
                          <th>Date Created</th>
                          <%if(session[:username] == "atarawally" or session[:username] == "mtrinn")%>
                          <th>Outlet</th>
                          <%end%>
                        </tr>

                        <% @items.each do |item| %>
                        <tr>
                          <td><%=item.name%></td>
                          <td><%=item.price%></td>
                          <td><%=item.item_balance%></td>
                          <td><%=item.money_value%></td>
                          <td><%=item.cash_in_hand%></td>
                          <td><%=item.created_at%></td>
                          <%if(session[:username] == "atarawally" or session[:username] == "mtrinn")%>
                          <td><%=item.user%></td>
                          <%end%>
                        </tr>
                        <%end%>
                      </table>
                    </center>
                    <p class="change_link">
						<font color="#7E17E4"><b>Africell Gambia BSU Department.</b> </font><font color="#556E70" size="2">All rights reserved. © Copyright 2015</font> <br>
              <font color="#556E70" size="2">Designed & Developed by <b>Mam M Cham</b></font>&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;
					</p>
            </div>
        </div>
    </div>  
</section>
 </div>
