<div class="container">
  <section>
    <div id="container_demo" >
      <div id="wrapper">
        <div id="login" class="animate form">

          <form  action="/customercare/over_scratched" >
            <h1>Over Scratched Cards</h1>
            <center> <font color="red"> <%= flash[:invalid] %> </font><font color="green"> <%= flash[:done] %> </font> <br/> </center>
            <center>
              <label for="msisdn"> MSISDN: </label>
              <input id="msisdn" size="8" name="msisdn" required="required" onkeypress="return isNumberKey(event)" maxlength="7" type="text" value="<%=session[:desk_msisdn]%>" placeholder="MSISDN"/>
              &#8195;
              <label for="serial"> Serial Number: </label>
              <input id="serial" size="20" name="serial" required="required" onkeypress="return isNumberKey(event)" maxlength="12" type="text" placeholder="Serial Number"/>&#8195;

              <label for="f_name"> First Name: </label>
              <input id="f_name" size="18" name="f_name" required="required" type="text" value="<%=session[:desk_first_name]%>" placeholder="First Name"/>  &#8195;

              <label for="l_name" > Last Name: </label>
              <input id="l_name" size="18" name="l_name" required="required" type="text" value="<%=session[:desk_last_name]%>" placeholder="Last Name"/><br/><br/>

              <label for="id_type">ID Type: </label>
                <select name ="id_type">
                  <%if session[:desk_id_type] != nil %>
                  <option value="<%=session[:desk_id_type]%>" selected ><%=session[:desk_id_type]%></option>
                  <%else%>
                  <option value="0" disabled selected></option>
                  <%end%>
                  <option value="biometric">Biometric ID</option>
                  <option value="drivers_license">Driver's License</option>
                  <option value="voter_card">Voter's Card</option>
                  <option value="passport">National Passport</option>
                  <option value="residence_permit">Residence Permit</option>
                  <option value="foreign_passport">Foreign Passport</option>
                  <option value="foreign_id_card">Foreign ID Card</option>
                  <option value="alien_card">Alien Card</option>
                  <option value="non_gam_biometric_id">Non-Gambian Biometric ID</option>
                </select>&#8195;

              <label for="id_number" > ID Number: </label>
              <input id="id_number" size="18" name="id_number" type="text" value="<%=session[:desk_id_number]%>"  placeholder="ID Number"/>

            </center>
            <p class="login button">
              <input type="submit" value="Submit" name="check_serial" />
						</p>
          </form>
          <SCRIPT TYPE="text/javascript">
            <!--
            autojump('msisdn', 'serial', 7);
            autojump('serial', 'name', 12);
            //-->
          </SCRIPT>
              <p></p>
              <p class="change_link">
			         <font color="#7E17E4"><b>Africell Gambia BSU Department.</b> </font><font color="#556E70" size="2">All rights reserved. © Copyright 2015</font> <br>
              <font color="#556E70" size="2">Designed & Developed by <b>Mam M Cham</b></font>&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;&#8195;
		        </p>
          </div>
        </div>
      </div>
    </section>
 </div>
